<?xml version="1.0"?>
<robot name="parametric_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="link_gap" default="0.10"/>

  <link name="base_link"/>
  <link name="tool_link"/>

  <joint name="base_to_tool" type="fixed">
    <parent link="base_link"/>
    <child link="tool_link"/>
    <origin xyz="0 0 $(arg link_gap)" rpy="0 0 0"/>
  </joint>
</robot>
