<?xml version="1.0"?>
<robot name="tabletop_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="upper_length" value="0.30"/>

  <link name="base_link"/>
  <link name="upper_link"/>
  <link name="gripper_link"/>

  <joint name="base_to_upper" type="fixed">
    <parent link="base_link"/>
    <child link="upper_link"/>
    <origin xyz="0 0 ${upper_length}" rpy="0 0 0"/>
  </joint>

  <joint name="upper_to_gripper" type="fixed">
    <parent link="upper_link"/>
    <child link="gripper_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>
</robot>
